name: Deploy Azure Function App - DataProcessingSmartBuildingT2

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: '.'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy using Oryx build
        uses: Azure/functions-action@v1
        with:
          app-name: 'DataProcessingSmartBuildingT2'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_B70A8562ABE548B0BF54C5C6837B6EB6 }}
          package: .
          enable-oryx-build: true
